/*
 * @Author       : Pancake
 * @Date         : 2022-04-06 23:25:41
 * @LastEditTime : 2022-04-06 23:34:57
 * @LastEditors  : Pancake
 * @FilePath     : \Pancake-Q\docs\.vuepress\styles\palette.styl
 * @Description  : 只写变量
 */
$accentColor = #3178c6